h2 {
  text-align: center;
}

.jumbotron{
  background: images/h.jpg;
}

i{
  color: lightgrey;
}

.view{
background: #f7f7f7;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;

}

p{
  margin-bottom: 0;
}

.carousel-item img {
    width: 100%;
    height: 25vh;
}

.col-md-6.text-center a {
    color: black;
}

.mt-5{
  margin-top: 4rem!important;
}

.bg-light {
    background-color: #81d8d0!important;
}

i nav {
    color: black;
}

a .pre-footer {
  color: black;
}
.fa-cart-plus:before{
  color: #00000080;
}
